table.table
  tr.table__row
    td.table__data
      .table__content.table__content_header
        .basis__elem
          include ../inner-table/inner-table.pug


  tr.table__row
    td.table__data
      input(type="checkbox", id="r2").table__checkbox
      .table__content
        .basis__elem
          include ../inner-table/inner-table1.pug
          include ../hidden-table/hidden-table.pug

  tr.table__row
    td.table__data
      input(type="checkbox", id="r3").table__checkbox
      .table__content
        .basis__elem
          include ../inner-table/inner-table2.pug
          include ../hidden-table/hidden-table.pug


  tr.table__row
    td.table__data
      input(type="checkbox", id="r4").table__checkbox
      .table__content
        .basis__elem
          include ../inner-table/inner-table3.pug
          include ../hidden-table/hidden-table.pug


  tr.table__row
    td.table__data
      input(type="checkbox", id="r5").table__checkbox
      .table__content
        .basis__elem
          include ../inner-table/inner-table4.pug
          include ../hidden-table/hidden-table.pug


  tr.table__row
      td.table__data
        input(type="checkbox", id="r6").table__checkbox
        .table__content
          .basis__elem
            include ../inner-table/inner-table5.pug
            include ../hidden-table/hidden-table.pug


  tr.table__row
    td.table__data
      .table__content.table__content_footer
        .basis__elem
          include ../inner-table/inner-table6.pug
