.button__group
  padding 30px 0

.button
  font-size 18px
  display inline-block
  text-align center
  text-decoration none
  border-radius 5px
  padding: 12px 18px
  color cGrey

  &:hover
    border 1px solid cLightGrey
    padding 11px 17px

.button__active
  @extends .text__regular
  border 1px solid cCyan
  padding 11px 17px
  color cDarkBlue

  &:hover
    border 1px solid cCyan
