.button__group
  a(href="#", style="margin-right: 20px;").button.button__active Сегодня
  a(href="#").button Вчера
  a(href="#").button Неделя
  a(href="#").button Месяц
  a(href="#").button Квартал
  a(href="#").button Год

