.footer
  padding 21px 0
  margin-top 80px
  border-top 1px solid #c3ccd3

.footer__left
  float left
  line-height 1.25

.footer__links
  float left
  padding 9px 0

.footer__link
  @extends .text__simple
  line-height 1.25
  float left
  margin 0 14px
  font-size 16px
  text-decoration none
  color cCyan

  &:first-child
    margin-left 0

.footer__arrow
  background url("static/footer__arrow.svg") no-repeat
  background-size 32px 18px
  width 32px
  height 18px
  margin 0 30px 0 45px

.footer__right
  float right
  line-height 1.25

.footer__right-link
  display block
  text-decoration none
  color cDarkBlue

.skype__label
  font-size 14px
  line-height 1.2
  float left
  color cGrey

.skype__icon
  float left
  background url("static/footer__skype.svg") no-repeat
  background-size 11px 12px
  width 11px
  height 12px
  margin 2px 3px 2px 0

.skype__login
  font-size 18px
