.footer
  .basis__elem.clearfix
    .footer__left.clearfix
      .footer__links.clearfix
        a(href="#").footer__link Статистика
        a(href="#").footer__link Офферы
        a(href="#").footer__link API
        a(href="#").footer__link Инструменты
        a(href="#").footer__link Профиль
        a(href="#").footer__link.footer__arrow
    .footer__right
      a(href="#").footer__right-link.clearfix
        .skype__icon
        .skype__label тех. поддержка
        .skype__login Support-Teleport
