.tabs
  font-size 22px

.tabs__item
  float left
  padding 0 15px
  width 80px
  height 3em
  text-align center
  line-height 3.1
  border-bottom 1px solid cLightGrey
  box-sizing border-box

.tabs__item_active
  @extends .text__regular
  border-bottom 4px solid cCyan
