.period__wrapper.clearfix
  .period__label Период:
  .period.clearfix
    input.period__input(type="date", id="period-from", value="2017-08-26")
    label(for="period-from").period__icon
    span.period__separator
    input.period__input(type="date", id="period-to", value="2017-12-30")
    label(for="period-to").period__icon
