.clearfix
  .clearfix__left.field
    label.field__label(for="sub-id1") #[span.field__number 1]. SUB ID:
    input.field__input(type="text", id="sub-id1")
  .clearfix__left.field
    label.field__label(for="sub-id2") #[span.field__number 2]. SUB ID:
    input.field__input(type="text", id="sub-id2")
