.field__label
  @extends .text__simple
  font-size 18px
  color cDarkBlue

.field__number
  color cCyan

.field__input
  @extends .text__simple
  outline none
  font-size 18px
  color cDarkBlue
  border none
  padding 0

.field
  border-bottom 1px solid cLightGrey
  margin-right 30px
