table.inner-table.inner-table_semibold
  tr.inner-table__row
    td.inner-table__data.inner-table__data_left.table__col1.inner-table_padding Итого:
    td.inner-table__data.table__col2 256 / 230
    td.inner-table__data.table__col3 44 / 20.66%
    td.inner-table__data.table__col4 1256
    td.inner-table__data.table__col5 573
    td.inner-table__data.table__col6 27 / 37.50%
    td.inner-table__data.table__col7 292.50
    td.inner-table__data.table__col8 292.50
    td.inner-table__data.table__col9 292.50
    td.inner-table__data.table__col10 180.730
