table.inner-table
  tr.inner-table__row
    td.inner-table__data.inner-table__data_left.table__col1.inner-table_padding Название
    td.inner-table__data.table__col2 Клики / Уникальные
    td.inner-table__data.table__col3 Анкеты / Конверсия %
    td.inner-table__data.table__col4 В работе
    td.inner-table__data.table__col5 Отказы
    td.inner-table__data.table__col6 Продажи / Конверсия %
    td.inner-table__data.table__col7 EPL
    td.inner-table__data.table__col8 EPC
    td.inner-table__data.table__col9 EPP
    td.inner-table__data.table__col10 Доход
