.pages.clearfix
  .pages__arrow-left

  .pages__items.clearfix
    .pages__item 1
    .pages__item.pages__item_active 2
    .pages__item 3
    .pages__item 4
    .pages__item 5
    .pages__item 6
    .pages__item 7

  .pages__arrow-right
