.pages
  margin-bottom 80px
  font-size 20px

.pages__arrow-left
  float left
  background url('static/pages__arrow-left.svg') no-repeat
  background-size 10px 14px
  width 10px
  height 14px
  margin 7px 10px 7px 0

.pages__items
  float left

.pages__item
  float left
  min-width 22px
  padding 3px 4px
  text-align center

.pages__item_active
  @extends .text__semibold
  background cCyan
  border-radius 3px
  color cWhite

.pages__arrow-right
  float left
  background url('static/pages__arrow-right.svg') no-repeat
  background-size 10px 14px
  width 10px
  height 14px
  margin 7px 0 7px 11px
