table.pages
  tr
    td(style="padding: 0")
      a(href="#").pages__link.pages__arrow-left
    td(style="padding: 0")
      a(href="#").pages__link.pages__item 1
    td(style="padding: 0")
      a(href="#").pages__link.pages__item.pages__item_active 2
    td(style="padding: 0")
      a(href="#").pages__link.pages__item 3
    td(style="padding: 0")
      a(href="#").pages__link.pages__item 4
    td(style="padding: 0")
      a(href="#").pages__link.pages__item 5
    td(style="padding: 0")
      a(href="#").pages__link.pages__item 6
    td(style="padding: 0")
      a(href="#").pages__link.pages__item 7
    td(style="padding: 0")
      a(href="#").pages__link.pages__arrow-right
