.hidden-table__dot
  table.hidden-table
    tr.hidden-table__row
      td.hidden-table__data.hidden-table__data_left.table__col1 15_06_17_EK
      td.hidden-table__data.table__col2 256 / 230
      td.hidden-table__data.table__col3 44 / 20.66%
      td.hidden-table__data.table__col4 1256
      td.hidden-table__data.table__col5 573
      td.hidden-table__data.table__col6 27 / 37.50%
      td.hidden-table__data.table__col7 292.50
      td.hidden-table__data.table__col8 292.50
      td.hidden-table__data.table__col9 292.50
      td.hidden-table__data.table__col10 180.730


    tr.hidden-table__row
      td.hidden-table__data.hidden-table__data_left.table__col1 15_06_17_EK
      td.hidden-table__data.table__col2 256 / 230
      td.hidden-table__data.table__col3 44 / 20.66%
      td.hidden-table__data.table__col4 1256
      td.hidden-table__data.table__col5 573
      td.hidden-table__data.table__col6 27 / 37.50%
      td.hidden-table__data.table__col7 292.50
      td.hidden-table__data.table__col8 292.50
      td.hidden-table__data.table__col9 292.50
      td.hidden-table__data.table__col10 180.730

    tr.hidden-table__row
      td.hidden-table__data.hidden-table__data_left.table__col1 Telegram
      td.hidden-table__data.table__col2 256 / 230
      td.hidden-table__data.table__col3 44 / 20.66%
      td.hidden-table__data.table__col4 1256
      td.hidden-table__data.table__col5 573
      td.hidden-table__data.table__col6 27 / 37.50%
      td.hidden-table__data.table__col7 292.50
      td.hidden-table__data.table__col8 292.50
      td.hidden-table__data.table__col9 292.50
      td.hidden-table__data.table__col10 180.730


    tr.hidden-table__row
      td.hidden-table__data.hidden-table__data_left.table__col1 Telegram
      td.hidden-table__data.table__col2 256 / 230
      td.hidden-table__data.table__col3 44 / 20.66%
      td.hidden-table__data.table__col4 1256
      td.hidden-table__data.table__col5 573
      td.hidden-table__data.table__col6 27 / 37.50%
      td.hidden-table__data.table__col7 292.50
      td.hidden-table__data.table__col8 292.50
      td.hidden-table__data.table__col9 292.50
      td.hidden-table__data.table__col10 180.730

