// Colors
cDarkBlue = #101026
cLightGrey = #c3ccd3
cGrey = #95969e
cCyan = #06a8ff

// Fonts
@font-face
  font-family 'Myriad Pro'
  src url('static/fonts/myriadpro-light.eot')
  src local('static/fonts/myriadpro-light'),
      url('static/fonts/myriadpro-light.eot?#iefix') format('embedded-opentype'),
      url('static/fonts/myriadpro-light.woff') format('woff'),
      url('static/fonts/myriadpro-light.ttf') format('truetype'),
      url('static/fonts/myriadpro-light.svg#myriadpro-light') format('svg')
  font-weight 300
  font-style normal

@font-face
  font-family 'Myriad Pro'
  src url('static/fonts/myriadpro-regular.eot')
  src local('static/fonts/myriadpro-regular'),
      url('static/fonts/myriadpro-regular.eot?#iefix') format('embedded-opentype'),
      url('static/fonts/myriadpro-regular.woff') format('woff'),
      url('static/fonts/myriadpro-regular.ttf') format('truetype'),
      url('static/fonts/myriadpro-regular.svg#myriadpro-regular') format('svg')
  font-weight normal
  font-style normal


// Cleafix function and class
clearfix()
  &:after
    content " "
    display table
    clear both
.clearfix
  clearfix()

.clearfix__left
  float left

.clearfix__right
  float right

.mockup
  background url('media/mockup.png') center top no-repeat
  background-size 1000px 1432px
  width 1000px
  height 1432px
  position absolute
  right 0
  top 0
  left 0
  bottom auto
  margin auto
  opacity 0.2
  display none

.text__simple
  font-family 'Myriad Pro'
  font-size 16px
  font-weight 300
  line-height 1.2
  color cDarkBlue

.text__regular
  font-weight normal

.basis
  @extends .text__simple
  margin 0

.basis__elem
  @extends .text__simple
  // min-width 1000px
  // max-width 1200px
  width 960px
  padding 0 20px
  margin 0 auto

.text__h1
  @extends .text__simple
  font-size 35px
  padding-top 25px
  padding-bottom 25px

// Blocks
@require 'blocks/header/header.styl'
@require 'blocks/content/content.styl'
@require 'blocks/tabs/tabs.styl'
@require 'blocks/button/button.styl'
@require 'blocks/period/period.styl'
@require 'blocks/field/field.styl'
