.header

  .basis__elem.clearfix

    .header__left.clearfix
      .header__logo
      .header__links.clearfix
        a(href="#").header__link.text__regular Статистика
        a(href="#").header__link Офферы
        a(href="#").header__link API
        a(href="#").header__link Инструменты
        a(href="#").header__link Профиль

    .header__right.clearfix
      .header__skype-wrapper
        a(href="#").header__skype
      .header__user.clearfix
        .header__balance 532.856#[span.text__simple &nbsp;руб]
        .header__ava
        .header__username Valdemar von Kozak
        .header__logout
