.header
  padding 24px 0
  border-bottom 1px solid cLightGrey
  margin-bottom 28px

.header__left
  line-height 1.25
  float left

.header__logo
  display block
  float left
  margin 0 15px 0 0
  background url('static/logo.svg') no-repeat
  background-size 60px 32px
  height 32px
  width 60px

.header__links
  float left
  padding 6px 0

.header__link
  @extends .text__simple
  position relative
  line-height 1.25
  float left
  margin 0 14px
  font-size 16px
  text-decoration none

  &:hover:after, &_active:after
    position absolute
    display block
    content " "
    width 100%
    height 4px
    background cCyan
    bottom -30px

  &_active
    @extends .text__regular

// .header__link:hover
//   border-bottom 4px solid #06a8ff

.header__right
  float right
  line-height 1.25

.header__skype-wrapper
  float left
  padding 2px 20px
  position relative

  &:before, &:after
    content " "
    position absolute
    left 0
    top 0
    bottom 0
    margin auto
    display block
    background cLightGrey
    width 1px
    height 20px

  &:after
    right 0
    left auto


.header__skype
  display block
  background url('static/icon.svg') no-repeat
  background-size 28px 28px
  height 28px
  width 28px

.header__user
  float left

.header__balance
  @extends .text__regular
  float left
  padding 3px 14px
  font-size 20px
  line-height 1.2S

.header__ava
  float left
  display block
  height 29px
  width @height
  background url('static/ava.svg') no-repeat
  background-size @height @height
  padding 1.5px 0

.header__username
  float left
  max-width 170px
  padding 5px 8px
  font-size 18px

.header__logout
  display block
  float left
  background url('static/logout.svg') no-repeat
  background-size 17px 22px
  height 22px
  width 17px
  margin 5px 0 5px 10px
