.header
  // margin 25px 20px
  border-bottom 1px red solid

.header__left
  float left
  margin-right 20px

.header__logo
  display block
  float left
  margin-right 30px
  background url('static/logo.svg') no-repeat
  background-size 61px 33px
  height 33px
  width 61px

.header__link
  @extends .text__simple
  float left
  margin 0 30px
  font-size 16px
  text-decoration none

.header__right
  float right

.header__icon
  display block
  float left
  background url('static/icon.svg') no-repeat
  background-size 28px 28px
  height 28px
  width 28px
  margin 0 20px


// .header__balance-currency

.header__user
  float left

.header__balance
  float left
  margin 0 20px

.header__ava
  float left
  display block
  float left
  height 29px
  width @height
  background url('static/ava.svg') no-repeat
  background-size @height @height
  margin 0 20px

.header__username
  float left

.header__logout
  display block
  float left
  background url('static/logout.svg') no-repeat
  background-size 17px 22px
  height 22px
  width 17px
  margin 0 20px

