.header

  .basis__elem.clearfix

    .header__left.clearfix
      .header__logo
      a(href="#").header__link Статистика
      a(href="#").header__link Офферы
      a(href="#").header__link API
      a(href="#").header__link Инструменты
      a(href="#").header__link Профиль

    .header__right.clearfix
      .header__icon
      .header__user.clearfix
        .header__balance 532.856 руб
        .header__ava
        .header__username Valdemar von Kozak
        .header__logout
