// .statics
// .figure__rectangle
//   float left
//   background url('static/rectangle.svg') no-repeat
//   height 1px
//   width 100px
//   background-size 100px 1px

// .figure__elipse
//   float left
//   background url('static/elipse.svg') no-repeat
//   height 13px
//   width @height
//   background-size @height @height

.content__h1
  @extends .text__h1, .text__regular, .basis__elem
