.content

  h1.content__h1 Статистика

  .basis__elem
    include ../tabs/tabs.pug
    .clearfix
      .clearfix__left
        include ../button/button.pug
      .clearfix__right
        include ../period/period.pug

    include ../field/field.pug

  include ../table/table.pug
